[submodule "HandsOnPractice/Week8/task2/gitdemo"]
	path = HandsOnPractice/Week8/task2/gitdemo
	url = C:/Users/Rincyroy/desktop/JAVA-FSE-UPSKILLING/HandsOnPractice/Week8/task2/gitdemo
[submodule "HandsOnPractice/Week8/task3/gitdemo"]
	path = HandsOnPractice/Week8/task3/gitdemo
	url = C:/Users/Rincyroy/desktop/JAVA-FSE-UPSKILLING/HandsOnPractice/Week8/task3/gitdemo
[submodule "HandsOnPractice/Week8/task4/gitdemo"]
	path = HandsOnPractice/Week8/task4/gitdemo
	url = C:/Users/Rincyroy/desktop/JAVA-FSE-UPSKILLING/HandsOnPractice/Week8/task4/gitdemo
[submodule "HandsOnPractice/Week8/task5/gitdemo"]
	path = HandsOnPractice/Week8/task5/gitdemo
	url = C:/Users/Rincyroy/desktop/JAVA-FSE-UPSKILLING/HandsOnPractice/Week8/task5/gitdemo
[submodule "HandsOnPractice/Week8/task1/GitDemo"]
	path = HandsOnPractice/Week8/task1/GitDemo
	url = C:/Users/Rincyroy/desktop/JAVA-FSE-UPSKILLING/HandsOnPractice/Week8/task1/GitDemo
